.signupWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.signupCard {
   background: #ffd6e0; 
  padding: 4rem 5rem;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(239, 167, 167, 0.10);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo{
    height: 100px;
    width: auto;
}
.logoContainer {
  margin-bottom: 1.5rem;   
}

.signupForm {
  max-width: 300px;
  margin: "4rem auto";
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signupEntry {
  width: 100%;
  height: 30px;
  padding: 8px;
  background-color: #fdbebe;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}
.signupButton, .signupButton:link, .signupButton:visited {
width: 100%;
  text-decoration: none;
  background: #d98c8c;
  color: #000000;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  
}

.signupButton:hover{
  background: #efa7a7;
}


