.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}
.logoContainer {
  margin-bottom: 1.5rem;
}
.logo{
    height: 100px;
    width: auto;

}

.loginForm {
  max-width: 300px;
  
  margin: "4rem auto";
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loginButton {
  
 text-decoration: none;
  background: #d98c8c;
  color: #000000;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
.loginButton a {
  color: #000000;
  text-decoration: none;
}

.loginButton:hover {
  background: #efa7a7;
  
}

.signupButton{
 
  background: #d98c8c;
   text-decoration: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  
  
}
.signupButton a {
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}
.signupButton:hover{
  background: #efa7a7;
}
